%ol#track_listing
  - @playlist.tracks.each do |track|
    %li= link_to(display_name(track), "/music/show/#{path_part(track)}")

= link_to 'music index', '/music'
%br
= link_to 'clear playlist', '/playlist/clear'